
<style>
tr:hover div.actions  {
	display: block!important;
}
</style>

! we currently have the check all feature -- that really does not matter what it is doing. then we just need a series of checked all action paths provided by the model.... bulk actions for checked. 

<table>
	<tr>
		<th>Author</th>
		<th>Content</th>
		<th>In Response To</th>
		<th>Status</th>
	</tr>
<%= render @comments %>
</table>