<h1>Preferences</h1>
<form action='/admin/preferences/adjust' method='post'>
	<input name="_method" type="hidden" value="put" />
	<input name='authenticity_token' type='hidden' value='<%= form_authenticity_token %>'/>
	<%= preferences_table @prefs %>
	<input type='submit' value='Go' style='clear:both'>
</form>


